.header {
    background-color: #2196f3;
    height: 300px;
    display: flex;
    align-items: center;
    position: relative;
    span {
        width: 100%;
    }
    input {
        width: 100%;
    }
    h3 {
        color: white;
        text-align: center;
        font-size: 40px;
    }
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: auto;
}
